.font-primary-{font-family: 'Bebas Neue', cursive !important;}
.font-primary{font-family: 'Josefin Sans', sans-serif !important;}
.font-secondary{font-family: 'Stick No Bills', sans-serif !important;}
.font-third{font-family: 'Fasthand', cursive!important;}
.font-italic{font-style: italic !important}

.border-b-2-white{border-bottom: 2px solid white}
.h-800px{height:100vh!important}

.leva-c-kWgxhW-bCBHqk-fill-false {
    position: fixed;
    top: 11px;
    left: 22%!important;
    z-index: 1000;
}